@charset "utf-8";

.icon-twitter {
  color: #a1a1a1;
  cursor: pointer;
  &:hover {
    color: $twitter-color !important;
  }
}

.icon-retweet {
  cursor: pointer;
  &:hover {
    color: $retweet-color !important;
  }
}

.retweeted {
  color: $retweet-color !important;
}

.icon-heart {
  cursor: pointer;
  &:hover {
    color: $favorite-color !important;
  }
}

.favorited {
  color: $favorite-color !important;
}

.fa-download {
  color: $link-color;
  &:hover {
    color: $download-color !important;
  }
}

.i__center-padding {
  margin-right: 5px;
  margin-left: 5px;
}

/**
 * font-aweosomeの<i>で囲う文字列のfontが崩れるバグ用のパッチスタイル
 */
.fa:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.fa {
  font-family: YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック',
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
    'MSPゴシック', 'Osaka', 'MS PGothic', 'Arial', 'Helvetica', 'Verdana',
    'sans-serif';
}

/**
 * seaerch box
 */
// フォームも角ばったほうがいいかなって思ったけど
// なんか微妙。消すかも
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  @include round(0px);
}

.form {
  width: 100%;
  max-width: $member__divider--width;
  border-color: $link-color;
  border-radius: 0;
}

.search-form {
  margin: 70px 0 35px 0;
}

.search-input {
  color: white;
  border-color: $link-color;
  background: $transparent-color;
}

.input-group-addon {
  color: white;
  border-color: $link-color;
  background: $transparent-color;
  border-radius: 0;
}

/**
 * Aside slider
 */
.fullscreen-overlay {
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  // background: black;

  background: rgba(0, 0, 0, 0.6);
}

.scrollbar-y-hidden {
  overflow-y: hidden;
}

/**
 * image zoom
 */
.image-layer {
  display: inline-block;
}

.image-layer__overlay {
  position: fixed;
  z-index: 13000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);
}

.image-layer__img {
  display: none;

  z-index: 13001;

  width: 100%;
  height: 100%;
  // padding: 30px;

  box-shadow: rgb(0, 0, 0) 0px 4px 30px;

  align-items: center;
  display: flex;
  justify-content: center;
}

.image-layer__loading {
  // position: absolute;
  // height: 50%;
  // display: table-cell;
  // vertical-align: middle;
  // text-align: center;
  z-index: 140001;
  // height: 100%;
  img {
    position: absolute;
    width: 50px;
    // height: 100%;
    z-index: 1400000;
  }
}

.image-layer__img-h-wide {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.image-layer__img-w-wide {
  width: 100%;
  height: auto;
}

// 画像プリロード用
.image-layer__img--hidden {
  display: inline-block;

  width: 0;
  height: 0;
  padding: 0;
}

.image-layer__container {
  // height: 100%
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-layer__caption {
  position: fixed;
  bottom: 30px;
  right: 0;
  margin: 0 30px;
  z-index: 100000;

  .timeline__post--footer {
    padding: none;
  }
  i {
    font-size: 130%;
    margin-right: 24px;
  }
}

.image-layer__counter {
  position: fixed;
  top: 30px;
  left: 0;
  margin: 0 30px;
  z-index: 100000;
  color: $link-color;
}

/**
 *
 */
.infinitescroll-content {
  min-height: 120px;
}

.infinitescroll-message {
  color: $link-color;
  &--emphasis {
    color: $amatsuka-color;
  }
}

/**
 *
 */
.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

/**
 * Go to top
 */
.arrow-top {
  position: fixed;
  right: 50px;
  bottom: 15px;

  padding: 25px;

  cursor: pointer;
  transition: 0.24s;

  border: solid transparent;
  // box-shadow: 1px -1px 0 0 $link-color inset;
  box-shadow: $link-color 1px -1px 0 0 inset;

  transform: rotate(135deg);
}

.arrow-top:hover {
  box-shadow: 1px -1px 0 0 lighten($link-color, 10%) inset;
}

/**
 * Load画面
 */
@keyframes spinner1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 34px;
  height: 34px;
  margin-top: -17px;
  margin-left: -17px;
  &:after,
  &:before {
    position: fixed;

    width: 32px;
    height: 32px;

    content: '';

    border: 2px solid $amatsuka-color;
  }
  &:after {
    animation: spinner1 2.5s linear infinite;
  }
  &:before {
    width: 44px;
    height: 44px;
    margin-top: -6.5px;
    margin-left: -6.5px;

    animation: spinner2 2.5s linear infinite;
  }
}

.cover-until-authenticated {
  height: 100%;

  background: url('../images/login-background.jpg') no-repeat center center;
  background-size: cover;
}

/**
 * Box-loader
 */
.box-loader {
  font-size: 0;

  position: relative;

  width: 27px;
  margin: 0 auto;
  b {
    display: inline-block;

    width: 5px;
    height: 5px;
    margin: 2px;

    background: $base-color;
  }
}

.box-loading-padding-vertical {
  padding: 30px 0;
}

.loading-bar {
  width: 100%;
  max-width: $timeline__post--width;
  padding: 30px 0;

  color: $link-color;
}

.loading-bar--grid {
  bottom: 0;

  margin: 0 auto;
}

/**
 * Dot-loader
 */
.wrapper {
  width: 3em;
  margin: 0 auto;
  // 中心に移動するために追加。
  padding-right: 100px;

  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot:nth-child(1) {
  @include dot();
}
.dot:nth-child(2) {
  @include dot(2em);
}
.dot:nth-child(3) {
  @include dot(3.7em);
}
.dot:nth-child(1) {
  animation: load 1.8s linear 0.4s infinite;
}
.dot:nth-child(2) {
  animation: load 1.8s linear 0.8s infinite;
}
.dot:nth-child(3) {
  animation: load 1.8s linear 1.2s infinite;
}
@keyframes load {
  5% {
    position: absolute;
    margin-top: -2em;
  }
  100% {
    margin-top: 0;
  }
}

/**
 * Scroll
 */
.scrollable {
  overflow-y: scroll;
  // max-height: 740px;

  height: 75vh;
  margin-top: 20px;
  margin-bottom: 20px;

  border-left: 1px solid $amatsuka-color;
}

.stylish-scrollbar::-webkit-scrollbar {
  // width: 4px;
  width: 1px;

  background-color: transparant;
}

.stylish-scrollbar::-webkit-scrollbar-thumb {
  background-color: $amatsuka-color;
}

.stylish-scrollbar--vertical::-webkit-scrollbar {
  // width: 4px;
  height: 1px;

  background-color: transparant;
}

.stylish-scrollbar--vertical::-webkit-scrollbar-thumb {
  background-color: $amatsuka-color;
}

/**
 * Click
 */
.clickable {
  cursor: pointer;
}

/**
 * For Smartphone
 */
@media (max-width: 480px) {
  .btn-stretch {
    width: 100%;
  }

  .arrow-top {
    right: 15px;
    bottom: 15px;
    padding: 15px;
  }
}

/**
 * divider
 */
.section--divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(122, 122, 122, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 33.3%;
  margin: 48px auto;
}
