.navbar-padding {
  padding-top: 70px;
}

.navbar-default
{
    background: transparentize($sidebar-color, .5);

    @include link;
    // @include link(white, $amatsuka-color);
}

.navbar-nav-default
{
    @include link;
}

.navbar-default .navbar-toggle
{
    background-color: $sidebar-color;
    border-color: $link-color;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $link-color;
}

.menu-user
{
    img
    {
        max-width: 20px;

        @include round(100%);
    }
}

.brand-name
{
    margin-right: 5px;
}

.logo-first
{
    font-size: 32px;
}

.logo-rest
{
    font-size: 15px;
}

i
{
    font-size: 130%;

    margin-right: 5px;
}
