.navbar-default {
  background: transparentize($sidebar-color, .5);
  @include link;
}

.navbar-nav-default {
  @include link;
}

.navbar-default .navbar-toggle {
  background-color: $sidebar-color;
  &:hover {

  }
}

.menu-user {
  img {
    max-width: 20px;
    @include round(100%);
  }
}

i {
  font-size: 130%;
  margin-right: 5px;
}