@charset "utf-8";

.list-member__container {
  padding-left: 20px;

  .media {
    min-height: 0px;  // 打消し用
  }
}

.list__copy-target {
  margin-right: 16px;
}

.list__controlls--copy {
  width: 15px;
  height: 15px;
  margin: 0 auto;
}

.list__controlls--copy--icon
{
    position: fixed;
    top: 50%;
    // left: 50%;
    padding: 20px;

    cursor: pointer;
    transition: .24s;
    @include rotate(225deg);

    border: solid transparent;
    box-shadow: 1px -1px 0 0 $amatsuka-color inset;

    &:hover {
      box-shadow: 1px -1px 0 0 lighten($amatsuka-color, 20%) inset;
    }
}

.list__select--group {
  margin: -20px 0 20px;
}


.list__status--message {
  color: $amatsuka-color;
  margin-top: 30px;
}