@charset "utf-8";


.login__video--desktop {
  display: inline-block;
}

.login__video--smartphone {
  display: none;
}


.login__bg {
  /* body 以外で全体表示するために必要 */
  height: 100%;
  /* 背景画像が読み込まれる前に表示される背景のカラー */

  // background-color: $body__bg-color;
  /* 画像ファイルの指定 */
  // background-image: url(https://dl.dropboxusercontent.com/u/31717228/Amatsuka_ver2.gif);
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}



.login__container
{
  position: relative;
}

.login__description
{
  height: 100%;
  padding: 50px;

  color: $link-color;
  background: rgba(33, 33, 33, .8);
  i
  {
    font-size: 130%;

    margin-right: 5px;
  }
  h1
  {
    color: $amatsuka-color;
  }
}

.login__description--catchcopy
{
  padding-bottom: 10px;
}

.login__description--about
{
  padding: 30px 0;
  a
  {
    font-size: 90%;

    transition: .2s ease;
    text-decoration: none;

    color: $link-color;
    &:hover
    {
      color: white;
    }
  }
}

.login__description--btn
{
  margin-top: 30px;
}

.login__demo-gif
{
  padding: 50px;
}


/**
 * Share
 */
.share-icons
{
  font-size: .7em;

  position: fixed;
  bottom: 50px;
  left: 32px;

  padding: 0;

  list-style: none;
}

.share-icons li
{
  display: inline;

  margin-right: 16px;

  @include link();
}


/**
 * multi devise
 */
@media(max-width:480px)
{

  .login__video--desktop {
    display: none;
  }

  .login__video--smartphone {
    display: inline-block;
  }

  .login__bg
  {
    // background-image: url(https://dl.dropboxusercontent.com/u/31717228/Amatsuka/smarthph-compressor.gif);
  }
  .login__description
  {
    font-size: .9em;
    line-height: 1.6;

    padding: 24px;
  }
  .login__description--btn
  {
    width: 100%;
  }

  /**
   * Share
   */
  .share-icons
  {
    left: 16px;
  }

}
