@charset "utf-8";

a.mao__link {
  // font-size: 2em;
  color: $mao-color;
  transition: .2s ease;
  text-decoration: none;
  &:hover {
    color: lighten($mao-color, 10%);
  }
  &:active {
    color: lighten($mao-color, 10%);
  }
}

.mao__description__division {
  margin-top: 64px;
}

.mao__description__image {
  background: url('https://pbs.twimg.com/media/CrbzykTVIAAYhIi.jpg:orig') top center / cover no-repeat;
  width: 100%;
  height: 640px;
}

.mao__texture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/grid.png);
}

.mao__user {

  min-height: 8px;
  display: flex;
  align-items: baseline;
  margin-top: 8px;

  &__icon {
    cursor: pointer;
    max-height: 24px;
    height: auto;
    border-radius: 100%;

    &__container {
      margin-right: 0;
    }
  }

  // .media .media-bodyの代わり
  &__screen-name {
    overflow: hidden;
    zoom: 1;
  }

  &__container {
    display: inline-block;
    // padding: 8px;
    padding: 8px 8px 0 0;
  }
}

.mao__pict__container {
  background: $link-color;
  height: 200px;
}

.mao__tweet__container {
  padding: 23px 15px; // bootstrapのcol-*のpaddingのに合わせている
}