.external-link {
  color: $link-color;
  margin: 15px 0;
}

.member {
  font-size: 16px;
}
.member_profile {
  background: white;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  // min-height: 300px !important;
  // min-width: 300px !important;
}

.member_profile__icon {
  display: inline-block;
  border: 1px solid #ddd;;
  max-height: 73px;
  @include round(8px);
}

.member_profile__text {
  overflow: hidden;
  zoom: 1;
  font-size: 1.2em;
  line-height: 1.6
}

.member_profile__text--name {
  font-size: 0.9em;
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}


.member_profile__text--screen_name {
  font-size: 0.8em;
  color: #B3B3B1;
}

.member_profile__text--description {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 150px;
}