@charset "utf-8";

.external-link {
  color: $link-color;
  margin: 15px 0;
  text-decoration: none;
  transition: .15s;
  &:hover {
    color: white;
  }
}

.btn-follow {
  margin-top: 10px; // iconのサイズが縦64px。 paddibng-top: 10px だと、media-bodyの縦が64pxになる。
}

// Bootstrapのmediaの効果を打ち消し
.member__media:first-child {
  margin-top: 32px;
}

.media {
  min-height: 120px; // ユーザ名とスクリーンネームが二行に渡っても表示が崩れない長さ

  .thumbnail-img {
    cursor: pointer; // ここでいいんかな？
    max-width: 64px;
    height: auto;
    border-radius: 100%;
  }

  .user-icon {
    position: relative;
  }

  .media-heading {
    .name {
      color: white;
      font-size: 0.8em;
      font-weight: bold;
    }
    .screen-name {
      margin-left: 8px;
      font-size: 0.8em;
      color: $link-color;
    }
  }

  .media-body {
    padding-left: 8px;
  }
}

.member__divider {
  margin: 30px 0;
  max-width: $member__divider--width;
  width: 100%;
  border-bottom: 1px solid rgba($link-color, .4);
  @include box-shadow(rgba(255,255,255,.5) 0 1px 0 inset);
}


/**
 * [width description]
 * Under 480px
 * For iPhone6, etc.
 */
@media(max-width:480px)
{
  .member__media:first-child {
    margin-top: 16;
  }

  .media {
    min-height: 100px; // ユーザ名とスクリーンネームが二行に渡っても表示が崩れない長さ
  }
}