@charset "utf-8";

.pagination__term {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 60px 0;

  // tab-stackに合わせると20px
  padding-bottom: 20px;
  color: $theme-color;
}

.pagination__term__container--bottom {
  padding-top: 20px;
}

.pagination {
  &__button {
    border: 1px solid;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;

    & a {
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }
  }
}