@charset "utf-8";

html, body {
  height:100%;
}

body {
  background: $body__bg-color;
  color: #000;
  font-family: YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'MSPゴシック', 'Osaka', 'MS PGothic', 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  font-size: $baseFontSize;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.4;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  cursor: pointer;
}

// <a>タグはdisabledがないので疑似的なスタイルを自前で用意する
a.disabled {
   pointer-events: none;
   cursor: default;
}

select {
  background: $sidebar-color;
  border-color: $link-color;
  color: $link-color;
  // color: white;
}

img {
  cursor: pointer;
}