$base-font-size: 24px;

$header-height: 50px;
// $headerTop: 150px;

$sidebar-width: 150px;
$sidebar-add-width: 40px;

// $sideBarColor: rgb(24,24,24);
$base-color: #252527;
$base-sub-color: #323232;
$text-color: #000;
$accent-color: #3DA1FF;

$sidebar-color: #424242;
$divider-color: #CFCFCF;
$menu-color: #BEC2BF;
$menu-hover-color: white;

$main-container-color: #F3F3F3;
$link-color: #779ECB;

$tweet-color: #B3B3B1;