.sidebar {
  // background: darken($baseColor, 10%);
  background: $sidebar-color;
  border-right: 1px solid $sidebar__line-color;
  height: 100%;
  position: fixed;
  top: 0px;
  width: $sidebar-width;
  z-index: 1000;

  .logo {
    padding : $sidebar-left-and-right-space;
    img {
      max-width: $sidebar-width - ($sidebar-left-and-right-space * 2);
      @include round(100%);
    }
  }

  .main-nav {
    .nav-text {
      .divider {
        color: white;
        text-transform: uppercase;
        display: block;
        padding: 20px $sidebar-left-and-right-space 5px;
      }
      .divider:first-child {
        padding-top: 10px;
      }
      li {
        color: white;
        font-size: $baseFontSize - 4px;
        line-height: 1.6
      }
      a {
        color: #a2a2a2;
        text-decoration: none;
        display: block;
        font-weight: 300;
        padding: 2px $sidebar-left-and-right-space;
        font-size: $baseFontSize - 4px;
        transition: .2s ease;
        &:hover {
          color: white;
        }
      }
    }
  }
}