.timeline {
  color: $link-color;
  padding: 30px 0;
  // padding: 30px 0 30px 66px;
  width:  625px;
  i {
    color: $link-color;
  }
}

.timeline__post {
  background: $timeline__post--bg-color;
  border-radius: 3px;
  font-size: $post--font-size;
  margin: 0 0 20px 0;
  padding-top: 15px;
  position: relative;
  width:  540px;
}

.timeline__post--icon {
  position: absolute;
  left: -85px;
  top: 0px;
  height: 64px;
  width: 64px;
  img {
    border-radius: 3px;
    max-width: 64px;
  }
}

.timeline__post--header {
  @include post_padding;
  a {
    color: $link-color;
    text-decoration: none;
  }
}
.timeline__post--header--label {
  // padding: .1em .3em .1em;
  cursor: pointer;
  padding: .1em .3em .3em;
  position: relative;
  bottom: 2px;
  margin-left: 5px;
}

.timeline__post--header--info {
  display: inline-block;
}

.timeline__post--header--time {
  display: inline-block;
  float: right;
}

.timeline__post--header--rt_source {
  padding: 0 5px;
}

.timeline__post--image {
  max-width: 100%;
  padding: 15px 0;
  img {
    width: 540px;
  }
}

.timeline__post--text {
  // @include post_padding;
  padding: 0 20px 10px;
  color: $link-color;
  line-height: 1.8;
  a {
    border-bottom: 1px solid lighten($link-color, 15%);
    color: $link-color;
    text-decoration: none;
  }
}

.timeline__post--footer {
  @include post_padding;
  display: table;
  line-height: 45px;
  height: 45px;
  width: 100%;
}

.timeline__post--footer--contents {
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}

.timeline__post--footer--contents--controls {
  color: $link-color;
  font-size: 120%;
  font-weight: 600;
  height: 45px;

  text-align: right;
  white-space:  nowrap;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}