@charset "utf-8";

.timeline
{
    //width:  540px;
    width: 100%;
    // padding: 30px 0;

    color: $link-color;
    i
    {
        color: $link-color;
    }
}

.timeline--list {
    padding: 0 0 30px 85px; // icon 64px +  ixonとpostとのpadding 21 = 85px
}

.timeline__post
{
    font-size: $post--font-size;

    position: relative;

    max-width: $timeline__post--width;
    margin: 0 0 20px 0;
    padding-top: 15px;

    border-radius: 3px;
    background: $timeline__post--bg-color;
}


.timeline__post--icon
{
    position: absolute;
    top: 0;
    left: -$timeline__post--icon--left;

    width: 64px;
    height: 64px;

    cursor: pointer;
    img
    {
        max-width: 64px;

        border-radius: 3px;
    }
}

.timeline__post--header
{
    @include post_padding;
    a
    {
        text-decoration: none;

        color: $link-color;
    }
}

.timeline__post--header--user
{
    cursor: pointer;
}

.timeline__post--header--label
{
    position: relative;
    bottom: 2px;

    margin-left: 5px;
    padding: .1em .3em .3em;

    cursor: pointer;
    background-color: $label__follow-color;
}

.timeline__post--header--info
{
    display: inline-block;
}

.timeline__post--header--time
{
    display: inline-block;
    float: right;
}

.timeline__post--header--rt_icon
{
    padding: 0 5px;
}

.timeline__post--header--rt_source
{
    cursor: pointer;
}

.timeline__post--image
{
    max-width: 100%;
    padding: 15px 0;
    img
    {
        width: $timeline__img--width;
    }
    video
    {
        width: $timeline__img--width;
    }
}

.timeline__post--text
{
    // @include post_padding;
    @include tweet-text;
}

.timeline__post--blockquote
{
    @include tweet-text;
    blockquote
    {
        margin: 0;
        padding: 0;

        border-left: solid 2px rgba(0,0,0,.12);
    }
}

.timeline__post--footer
{
    line-height: 45px;

    display: table;

    width: 100%;
    height: 45px;

    @include post_padding;
}

.timeline__post--footer--contents
{
    display: table-cell;

    height: 45px;

    vertical-align: middle;
}

.timeline__post--footer--contents--controls
{
    font-size: 120%;
    font-weight: 600;

    height: 45px;

    text-align: right;
    white-space: nowrap;

    color: $link-color;

    @include display-flex;
    @include flex-direction(row);
    @include align-items(baseline);
    @include justify-content(space-between);
}



/**
 * Grid 表示
 * ほとんど max-width:480px からコピペ。直そう。
 */
.timeline--grid
{
    padding: 0 0 30px 0;
}


.timeline__post--grid {
    max-width: $timeline__post--width--grid;
    margin: $timeline__post--margin--grid;
    padding-top: $timeline__post--padding-vertical;
}

.timeline__post--header--grid
{
    line-height: $timeline__post--icon--width-smartphone;

    padding: 0 $timeline__post--padding-horizontal-smartphone;
}

.timeline__post--header--info--grid
{
    line-height: 30px;
}

.timeline__post--header--link--grid
{
    // 8 + 32 + 4 = 44px
    margin-left: $timeline__post--padding-horizontal-smartphone + $timeline__post--icon--width-smartphone + 4px;
}

.timeline__post--header--rt_source--grid
{
    line-height: 12px;
}

.timeline__post--header--user--grid
{
    line-height: 12px;

    display: block;
}

.timeline__post--header--rt_icon--grid
{
    padding: 0;
}

.timeline__post--icon--grid
{
    top: $timeline__post--padding-vertical;
    left: $timeline__post--padding-horizontal-smartphone;

    width: $timeline__post--icon--width-smartphone;
    height: $timeline__post--icon--width-smartphone;
    img
    {
        max-width: $timeline__post--icon--width-smartphone;
    }
}

.timeline__post--image--grid
{
    padding: 10px 0;
}


.timeline__post--text--grid
{
    padding: 0 $timeline__post--padding-horizontal-smartphone;
}

.timeline__post--blockquote--grid
{
    padding: 0 $timeline__post--padding-horizontal-smartphone;
}

.timeline__post--footer--grid
{
    padding: 0 $timeline__post--padding-horizontal-smartphone;
}


/**
 * [width description]
 * Under 480px
 * For iPhone6, etc.
 */
@media(max-width:480px)
{
    .timeline
    {
        // アイコン表示するならこっち
        // padding: 0 0 30px $timeline__post--icon--left - $timeline__post--icon--width-smartphone;
        padding: 0 0 30px 0;
    }

    .timeline__post
    {
        padding-top: $timeline__post--padding-vertical;
    }

    // スマホ用のtumblrっぽいレイアウトにするならこれ
    .timeline__post--header
    {
        line-height: $timeline__post--icon--width-smartphone;

        padding: 0 $timeline__post--padding-horizontal-smartphone;
    }

    .timeline__post--header--info
    {
        line-height: 30px;
    }

    .timeline__post--header--link
    {
        // 8 + 32 + 4 = 44px
        margin-left: $timeline__post--padding-horizontal-smartphone + $timeline__post--icon--width-smartphone + 4px;
    }

    .timeline__post--header--rt_source {
        line-height: 12px;
    }

    .timeline__post--header--user
    {
        line-height: 12px;

        display: block;
    }

    .timeline__post--header--rt_icon
    {
        padding: 0;
    }

    .timeline__post--icon
    {
        top: $timeline__post--padding-vertical;
        // 横にアイコン表示するならこっち
        // left: -$timeline__post--icon--left + $timeline__post--icon--width-smartphone;
        left: $timeline__post--padding-horizontal-smartphone;

        width: $timeline__post--icon--width-smartphone;
        height: $timeline__post--icon--width-smartphone;
        img
        {
            max-width: $timeline__post--icon--width-smartphone;
        }
    }

    .timeline__post--text
    {
        padding: 0 $timeline__post--padding-horizontal-smartphone;
    }

    .timeline__post--blockquote
    {
        padding: 0 $timeline__post--padding-horizontal-smartphone;
    }

    .timeline__post--footer
    {
        padding: 0 $timeline__post--padding-horizontal-smartphone;
    }

    // これ謎
    .col-xs-12
    {
        padding: 0;
    }
}
