.timeline
{
    //width:  540px;
    width: 100%;
    // padding: 30px 0;
    padding: 0 0 30px 85px; // icon 64px +  ixonとpostとのpadding 21 = 85px

    color: $link-color;
    i
    {
        color: $link-color;
    }
}

.timeline__post
{
    font-size: $post--font-size;

    position: relative;

    max-width: $timeline__post--width;
    margin: 0 0 20px 0;
    padding-top: 15px;

    border-radius: 3px;
    background: $timeline__post--bg-color;
}

.timeline__post--icon
{
    position: absolute;
    top: 0;
    left: -$timeline__post--icon--left;

    width: 64px;
    height: 64px;

    cursor: pointer;
    img
    {
        max-width: 64px;

        border-radius: 3px;
    }
}

.timeline__post--header
{
    @include post_padding;
    a
    {
        text-decoration: none;

        color: $link-color;
    }
}

.timeline__post--header--user
{
    cursor: pointer;
}

.timeline__post--header--label
{
    position: relative;
    bottom: 2px;

    margin-left: 5px;
    padding: .1em .3em .3em;
    // padding: .1em .3em .1em;

    cursor: pointer;
}

.timeline__post--header--info
{
    display: inline-block;
}

.timeline__post--header--time
{
    display: inline-block;
    float: right;
}

.timeline__post--header--rt_icon
{
    padding: 0 5px;
}

.timeline__post--header--rt_source
{
    cursor: pointer;
}

.timeline__post--image
{
    max-width: 100%;
    padding: 15px 0;
    img
    {
        width: $timeline__img--width;
    }
}

.timeline__post--text
{
    // @include post_padding;
    @include tweet-text;
}

.timeline__post--blockquote
{
    @include tweet-text;
    blockquote
    {
        margin: 0;
        padding: 0;

        border-left: solid 4px rgba(0,0,0,.12);
    }
}

.timeline__post--footer
{
    line-height: 45px;

    display: table;

    width: 100%;
    height: 45px;

    @include post_padding;
}

.timeline__post--footer--contents
{
    display: table-cell;

    height: 45px;

    vertical-align: middle;
}

.timeline__post--footer--contents--controls
{
    font-size: 120%;
    font-weight: 600;

    display: flex;
    flex-direction: row;

    height: 45px;

    text-align: right;
    white-space: nowrap;

    color: $link-color;

    align-items: baseline;
    justify-content: space-between;
}

/**
 * Grid表示
 */
.grid-container
{
    margin-left: -90px; // site-mainのmaegin-leftを相殺
}

.grid-container__post
{
    display: inline-block;
}

.grid-container__post--header
{
    position: absolute;
    top: 0;
    left: 0;

    height: 50px;

    transition: .2s ease;
}

.cover
{
    display: inline-block;

    width: 200px;
    height: 200px;
    margin: 3px;

    cursor: pointer;

    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

figure
{
    position: relative;

    overflow: hidden;

    width: 200px;
}
figcaption h3,
figcaption .grid-container__post--footer--contents--controls
{
    line-height: 30px;

    position: absolute;
    z-index: 2;
    left: 0;

    width: 100%;
    height: 30px;

    -webkit-transition: .3s;
            transition: .3s;

    background: rgba(0,0,0,.6);
}
figcaption h3
{
    top: -60px;
}

.grid-container__post--footer--contents
{
    display: table-cell;

    vertical-align: middle;
}
.grid-container__post--footer--contents--controls
{
    font-size: 80%;
    font-weight: 600;

    bottom: -60px;

    display: flex;
    flex-direction: row;

    padding: 0 10px;

    text-align: right;
    white-space: nowrap;

    color: $link-color;

    align-items: baseline;
    justify-content: space-between;
}
figure:hover figcaption h3
{
    top: -20px;
}
figure:hover figcaption .grid-container__post--footer--contents--controls
{
    bottom: 0;
}


@media(max-width:480px)
{
    .timeline {
      padding: 0 0 30px $timeline__post--icon--left - $timeline__post--icon--width-smartphone;
    }

    .timeline > .timeline__post *
    {
        font-size: $font-size-percent-smartphone;
    }

    .timeline__post--icon
    {
        left: -$timeline__post--icon--left + $timeline__post--icon--width-smartphone;

        width: $timeline__post--icon--width-smartphone;
        height: $timeline__post--icon--width-smartphone;
        img
        {
            max-width: $timeline__post--icon--width-smartphone;
        }
    }
}
