/**
 * Sizes
 */
$sidebar-width: 160px;
$sidebar-left-and-right-space: 30px;

$timeline__post--width: 540px;
$timeline__img--width: 100%;
$timeline__post--padding: 30px;

/**
 * Fonts
 */
$baseFontSize: 20px;
$post--font-size: 14px;

/**
 * Colors
 */
$base-color: #424242;
// $sidebar-color: #272B33;
// $sidebar-color: #FE6260;
$sidebar-color: #292929;
// $sidebar__line-color: #2ECC71;
$sidebar__line-color: lighten($sidebar-color, 10%);
// $sidebar__line-color: #FE6260;
$link-color: #a1a1a1;
$accent-color: #EEA8B6;

$retweet-color: #5C913B;
$favorite-color: #FFAC33;
$download-color: #29A7E1;

$transparent-color: rgba(0, 0, 0, 0);

// timeline
// $body__bg-color: #272B33;
$body__bg-color: #292929;
$timeline__post--bg-color: #fff;