@charset "utf-8";
@import "compass";
@import "variables";
@import "mixins";
@import "functions";
@import "commons";

// Fundamental element
@import "primitive";

// login
@import "login";

// Header
@import "header";

// Sidebar
@import "sidebar";

// left_col
@import "timeline";

// member.jade
@import "member";

// user-sidebar.jade
@import "user-slidebar";

// list.jade
@import "list";

// find.jade
@import "find";

// Config
@import "config";

// help.jade
@import "help";

/**
 * TODO: ファイルに分ける
 * other
 */
.h100per {
  height: 100%;
}

.btn {
  background: rgba(0,0,0, 0);
  border-color: $link-color;
  color: $link-color;
  transition: .2s ease;
  &:hover {
    background-color: $link-color;
  }
}

.site-main {
  position: relative;
  // tinelineだけなら下のでよかった。
  // memberページを設けたところ、左側に大幅な空白ができたため、
  // timeline.scssで設定することにした。
  // padding-left: $sidebar-width + 85px + 21px;

  // padding-left: $sidebar-width + 40px;
  padding-bottom: 30px;
  // padding-right: $sidebar-width + 40px;
}

.text {
  color: $link-color;
}

/**
 * _navbar.scss?ファイルに移動
 */
a.dropdown-toggle {
  height: 50px;
}

.navbar-icon {
  // border-radius: 4px;
  border-radius: 100%;
  margin-right: 5px;
  padding-bottom: 5px;
  width: 20px;
}

.navbar-default .nav li.dropdown.open .dropdown-toggle, .navbar-default .nav li.dropdown.active .dropdown-toggle, .navbar-default .nav li.dropdown.open.active .dropdown-toggle {
  background-color: $amatsuka-color;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  background-color: $amatsuka-color;
}