TwitterAPI    = require 'node-twitter-api'
TW_CK         = 'YOUR_TWITTER_CONSUMER_KEY'
TW_CS         = 'YOUR_TWITTER_CONSUMER_SECRET'
TW_AT         = 'YOUR_TWITTER_ACCESS_TOKEN'
TW_AS         = 'YOUR_TWITTER_ACCESS_TOKEN_SECRET'
TW_ID_STR     = 'YOUR_TWITTER_ID_STR'
CALLBACK_URL  = 'http://127.0.0.1:4040/auth/twitter/callback'
COOKIE_SECRET = 'aaabbbccc'

exports.settings =
  TW_CK: TW_CK
  TW_CS: TW_CS
  TW_AT: TW_AT
  TW_AS: TW_AS
  TW_ID_STR: TW_ID_STR
  CALLBACK_URL: CALLBACK_URL
  COOKIE_SECRET: COOKIE_SECRET
  DB_URI: 'mongodb://127.0.0.1/amatsuka'
  PORT: 4040
  GRACE_TIME_SERVER: 0
  GRACE_TIME_CLEAR: 1 * 1000
  INTERVAL_TIME_CLEAR: 10 * 1000
  FRINEDS_LIST_COUNT: 100
  MAX_NUM_GET_TIMELINE_TWEET: 100
  MAX_NUM_GET_FAV_TWEET_FROM_LIST: 200
  MAX_NUM_GET_LISTS_LIST: 100
  MAX_NUM_GET_LIST_STATUSES: 200
  MAX_NUM_GET_LIST_MEMBERS: 5000
  MAO_TOKEN_SALT: 'mmmnnn'
  MAO_HOST: 'http://127.0.0.1:4140'
  twitterAPI: new TwitterAPI
    consumerKey: TW_CK
    consumerSecret: TW_CS
    callback: CALLBACK_URL

  #  pummeluff39, _cinkai, exit_kureaki, , SALT_000, fujiyamatozan, yasumo01, kr_saki, mamy6o6, sankuro396
  defaultUserIds: '437523928,2228681658, 393998063, 1057416337, 2737731127, 2817567554, 101068475, 820166689018912770,115673821'

  TWS: [
    {
      TW_ID_STR: TW_ID_STR
      TW_AT: TW_AT
      TW_AS: TW_AS
    }
  ]

  targetList: [
    'g1un1u'
    'kamikannda'
    'loliconder'
    'nosongang'
    'exit_kureaki'
  ]