// include retweet (checkbox)
label
  span.external-link  Include Retweet:
  input(type='checkbox', ng-model='config.includeRetweet')

// NG user (textarea)

// NG word (textarea)

form
  .form-group
    label(for='exampleInputEmail1') NG
    input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
  .form-group
    label(for='exampleInputPassword1') Password
    input#exampleInputPassword1.form-control(type='password', placeholder='Password')
  .checkbox
    label
      input(type='checkbox', ng-model='config.includeRetweet')
      | Include Retweet
