.col-md-6
  form
    .form-group
      label(for='screenName') Screen Name
      .input-group.input-group-sm.extract-form
        span.input-group-addon @
        input#screenName.form-control.search-input(type='text', placeholder='(ex) 9jo_karen', ng-model="filter.screenName", ng-disabled="isLoading")

    .form-group
      label(for='filterKeyword') Filter Keyword
      .input-group.input-group-sm.extract-form
        span.input-group-addon
          i.fa.fa-font
        input#filterKeyword.form-control.search-input(type='text', placeholder='(ex) ご注文はうさぎですか？、ごちうさ、ゆるゆり、九条カレン', ng-model="filter.keyword", ng-disabled="isLoading")

    .checkbox
      label
        input(type='checkbox', ng-model='filter.isIncludeRetweet', ng-disabled="isLoading")
        | Include Retweet
    button.btn.btn-default(type='button', ng-click='execFilteringPictWithKeyword()', ng-disabled="isLoading") Filter Start

.col-md-6
  .media(ng-if='extract.user.name')
    .media
      a.pull-left
        img.media-object.thumbnail-img.fade(ng-src='{{extract.user.profile_image_url_https}}', img-preload="img-preload", show-tweet="show-tweet", twitter-id-str="{{extract.user.id_str}}")
      .media-body
        h4.media-heading
          span.name {{extract.user.name}}
          span.screen-name @{{extract.user.screen_name}}
        span.btn-wrapper
        a.btn.btn-sm.btn-follow(followable, follow-status='extract.user.followStatus', list-id-str='{{listIdStr}}', twitter-id-str='{{extract.user.id_str}}')

    .media-body.extract__profile--bio
      .extract__profile--description(ng-bind-html='extract.user.description | newlines')
      .user-sidebar__profile--url(ng-hide="extract.user.url == null")
        i.fa.fa-link
        a(href="{{extract.user.url}}", target="_blank") {{extract.user.url}}

.col-md-12
  .section--divider
  //- div(masonry='masonry')
    //- .masonry-brick.extract__post--grid(ng-repeat='tweet in tweets')
    //-   .timeline__post--image.timeline__post--image--grid(ng-repeat='picUrl in tweet.picUrlList')
    //-     img.fade(ng-if="!tweet.video_url", ng-src="{{picUrl}}", img-preload="img-preload", zoom-image="zoom-image", data-img-src="{{picUrl}}")
    //-     video(ng-if="tweet.video_url", poster="{{picUrl}}", autoplay, loop, controls, muted)
    //-       source(ng-src="{{tweet.video_url | trusted}}", type="video/mp4")

  .timeline.timeline--grid(masonry='masonry', preserve-order)
    .masonry-brick.timeline__post.timeline__post--grid(ng-repeat='tweet in extract.tweets | orderBy: "totalNum": true')
      .timeline__post--header.timeline__post--header--grid
        .timeline__post--header--info.timeline__post--header--info--grid
          .timeline__post--header--link.timeline__post--header--link--grid
            span.timeline__post--header--user.timeline__post--header--user--grid(twitter-id-str="{{tweet.user.id_str}}", show-tweet="show-tweet")
              {{tweet.user.screen_name}}
            span.timeline__post--header--rt_icon.timeline__post--header--rt_icon--grid(ng-if="tweet.retweeted_status")
              i.fa.fa-retweet
            a.timeline__post--header--rt_source.timeline__post--header--rt_source--grid(twitter-id-str="{{tweet.retweeted_status.user.id_str}}", show-tweet="show-tweet")
              {{tweet.retweeted_status.user.screen_name}}
            followable(ng-if='!tweet.followStatus', list-id-str="{{listIdStr}}", tweet="{{tweet}}", follow-status="tweet.followStatus")
        .timeline__post--header--time
          a(href="https://{{tweet.sourceUrl}}", target="_blank")
            {{tweet.time}}
      .timeline__post--icon.timeline__post--icon--grid
        img.fade(ng-src="{{tweet.user.profile_image_url_https}}", img-preload="img-preload", show-tweet="show-tweet", twitter-id-str="{{tweet.user.id_str}}")
      .timeline__post--image.timeline__post--image--grid(ng-repeat='picUrl in tweet.picUrlList')
        img.fade(ng-if="!tweet.video_url", ng-src="{{picUrl}}", img-preload="img-preload", zoom-image="zoom-image", data-img-src="{{picUrl}}")
        video(ng-if="tweet.video_url", poster="{{picUrl}}", autoplay, loop, controls, muted)
          source(ng-src="{{tweet.video_url | trusted}}", type="video/mp4")
      .timeline__post--text.timeline__post--text--grid(ng-if="!tweet.retweeted_status", ng-bind-html='tweet.text | newlines')
      .timeline__post--blockquote.timeline__post--blockquote--grid(ng-if="tweet.retweeted_status")
        p
          a(twitter-id-str="{{tweet.retweeted_status.user.id_str}}", show-tweet="show-tweet")
            {{tweet.retweeted_status.user.screen_name}}
        blockquote
          .timeline__post--text(ng-bind-html='tweet.text | newlines')
      .timeline__post--footer.timeline__post--footer--grid
        .timeline__post--footer--contents
          .timeline__post--footer--contents--controls
            i.fa.fa-retweet.icon-retweet(retweet-num="tweet.retweetNum", retweeted='tweet.retweeted', tweet-id-str='{{tweet.tweetIdStr}}', retweetable='retweetable')  {{tweet.retweetNum}}
            i.fa.fa-star.icon-star(fav-num="tweet.favNum", favorited='tweet.favorited', tweet-id-str='{{tweet.tweetIdStr}}', favoritable='favoritable')  {{tweet.favNum}}
            // aタグがないとtextとcontrolsの間の余白がなくなり、レイアウトが崩れる。
            a
              i.fa.fa-download(data-url="{{tweet.extended_entities.media[0].media_url}}:orig", filename="{{tweet.fileName}}", download-from-url='download-from-url')

    dot-loader.user-sidebar__contents--infinitescroll-message(ng-if='isLoading')