box-loading.user-sidebar__contents--box-loading-init(ng-if='!tweets.items', data-base='#a1a1a1', data-highlight='white')

.timeline(infinite-scroll='tweets.nextPage()', infinite-scroll-disabled='tweets.busy', infinite-scroll-distance='1')
  .timeline__post(ng-repeat='tweet in tweets.items | orderBy: "id_str": "DESC"')
    .timeline__post--header
      .timeline__post--header--info
        .timeline__post--header--link
          span.timeline__post--header--user(twitter-id-str="{{tweet.user.id_str}}", show-tweet="show-tweet")
            {{tweet.user.screen_name}}
          followable(ng-if='!tweet.followStatus', list-id-str="{{listIdStr}}", twitter-id-str="{{tweet.user.id_str}}", follow-status="tweet.followStatus")
      .timeline__post--header--time
        a(href="https://{{tweet.sourceUrl}}", target="_blank")
          {{tweet.time}}
    .timeline__post--icon
      img.fade(ng-src="{{tweet.user.profile_image_url}}", img-preload="img-preload", show-tweet="show-tweet", twitter-id-str="{{tweet.user.id_str}}")
    .timeline__post--image(ng-repeat='picUrl in tweet.picUrlList')
      img.fade(ng-src="{{picUrl}}", img-preload="img-preload", zoom-image="zoom-image", data-img-src="{{picUrl}}")
    .timeline__post--text(ng-bind-html='tweet.text | newlines')
    .timeline__post--footer
      .timeline__post--footer--contents
        .timeline__post--footer--contents--controls
          i.fa.fa-retweet.icon-retweet(retweet-num="tweet.retweetNum", retweeted='tweet.retweeted', tweet-id-str='{{tweet.tweetIdStr}}', retweetable='retweetable')  {{tweet.retweetNum}}
          i.fa.fa-star.icon-star(fav-num="tweet.favNum", favorited='tweet.favorited', tweet-id-str='{{tweet.tweetIdStr}}', favoritable='favoritable')  {{tweet.favNum}}
          a(href='{{tweet.extended_entities.media[0].media_url}}:orig?.jpg', download='download')
            i.fa.fa-download

  box-loading.box-loading-padding-top(ng-if='tweets.busy', data-base='#a1a1a1', data-highlight='#292929')
  .text-center(ng-show='tweets.isLast') 終わりです