h1 Index
div(infinite-scroll='tweets.nextPage()', infinite-scroll-disabled='tweets.busy', infinite-scroll-distance='1')
  div(ng-repeat='tweet in tweets.items')
    p {{tweet.text}}
    img.fade(ng-src="{{tweet.extended_entities.media[0].media_url}}", img-preload="img-preload")