.row
  base(target='_blank')
  .col-md-6
    .list-group
      a.list-group-item.active(href='#') Cras justo odio
      a.list-group-item(href='#') Dapibus ac facilisis in
      a.list-group-item(href='#') Morbi leo risus
      a.list-group-item(href='#') Porta ac consectetur ac
      a.list-group-item(href='#') Vestibulum at eros
      a.list-group-item(href='#')
        span.badge.badge-primary 38
        | Morbi leo risus
  .col-md-6
    h1 Angular-Express-Bootstrap-Starter