.col-md-12.col-sm-12.col-xs-12
  // 自分のリスト一覧
  select(ng-model='sourceListData', ng-options='l.full_name for l in ownList')
.col-md-5.col-sm-12.col-xs-12
  h3(ng-if="sourceList.members")
    a.external-link(href='https://twitter.com/{{user.username}}/lists/{{sourceList.name}}', target='_blank')
      {{sourceList.name}} ({{sourceList.countChecked}}人)
  .scrollable.stylish-scrollbar.list-member__container(ng-if="sourceList.members")

    div(ng-repeat="member in sourceList.members")
      .media
        a.pull-left(twitter-id-str="{{member.id_str}}", show-tweet="show-tweet")
          img.media-object.thumbnail-img.fade(ng-src='{{member.profile_image_url}}', img-preload="img-preload")
        .media-body
          h4.media-heading
            span.name {{member.name}}
            span.screen-name @{{member.screen_name}}
      .member__divider

  //- pre
  //-   {{sourceList|json}}
  //- pre
  //-   {{sourceListData|json}}
  //- pre
  //-   {{ownList|json}}

.col-md-2.hidden-sm.hidden-xs
  .list__controlls--copy(ng-if="sourceList.members")
    .list__controlls--copy--icon(source-list='sourceList', copy-member)


// Amatsukaリスト
.col-md-5.col-sm-12.col-xs-12
  h3
    a.external-link(href='https://twitter.com/{{user.username}}/lists/amatsuka', target='_blank')
      {{amatsukaList.name}} ({{amatsukaList.length}}人)

  #amatsuka-list__scrollable.scrollable.stylish-scrollbar
    .list-member__container(infinite-scroll='amatsukaList.loadMoreMember()',infinite-scroll-distance='0', infinite-scroll-container="'#amatsuka-list__scrollable'")
      div(ng-repeat="member in amatsukaList.members")
        .media
          a.pull-left(twitter-id-str="{{member.id_str}}", show-tweet="show-tweet")
            img.media-object.thumbnail-img.fade(ng-src='{{member.profile_image_url}}', img-preload="img-preload")
          .media-body
            h4.media-heading
              span.name {{member.name}}
              span.screen-name @{{member.screen_name}}
        .member__divider
            //- span.btn-wrapper
            //- a.btn.btn-sm.btn-follow(followable, follow-status='member.followStatus', list-id-str='{{listIdStr}}', twitter-id-str='{{member.id_str}}', ng-disabled='isProcessing')
