mao-container
//- ul.nav.nav-pills.nav-stacked.col-sm-2
//-   li.active
//-     a(href='#tweets', data-toggle='tab') Tweets
//-   li
//-     a(href='#stats', data-toggle='tab') Stats
//- .tab-content.col-sm-10
//-   #tweets.tab-pane.active
//-     mao-list-container
//-   #stats.tab-pane
//-     mao-ranking-post-number

//- mao-statistics