h2
  a.external-link(href='https://twitter.com/{{user.username}}/lists/amatsuka', target='_blank')
    / Amatsuka
div(ng-repeat="member in amatsukaMemberList")
  .media
    a.pull-left(href='https://www.twitter.com/{{member.screen_name}}')
      img.media-object.thumbnail-img.fade(ng-src='{{member.profile_image_url}}', img-preload="img-preload")
    .media-body
      h4.media-heading
        span.name {{member.name}}
        span.screen-name @{{member.screen_name}}
      span.btn-wrapper
      a.btn.btn-sm.btn-follow(followable, follow-status='member.followStatus', list-id-str='{{listIdStr}}', twitter-id-str='{{member.id_str}}', ng-disabled='isProcessing')

  .member__divider
