.intro-container
  .login-container
    .container.hero
      h1
        span.hlabel.noppading Amatsuka
      h2
        span.label Viewer
      span.btn-wrapper
        a.btn.btn-lg.btn-login(href='/auth/twitter/callback', target='_self')
          i.fa.fa-twitter
          | Login