extends layout

block body
  span(ng-controller='AdminUserCtrl')
    span(ng-if='isLoaded')

      .intro-container(ng-if='!isAuthenticated')
        .login-container
          .container.hero
            h1
              span.hlabel.noppading Amatsuka
            h2
              span.label Viewer
            span.btn-wrapper
              a.btn.btn-lg.btn-login(href='/auth/twitter/callback', target='_self')
                i.fa.fa-twitter
                | Login

      span.header-is-auth(ng-if='isAuthenticated')
        .sidebar
          .logo
            a(href='/')
              img(src='https://avatars0.githubusercontent.com/u/4101830?v=3&s=460')
              //- img(ng-src='{{user.icon}}')
          .main-nav
            ul.nav-text
              li.divider CONTENTS
              li
                a.text-uppercase(href='/') Home
              li
                a.text-uppercase(href='/list') List
              li
                a.text-uppercase(href='/member') Member
              li
                a.text-uppercase(href='/settings') Settings
              li.divider USER
              li
                a.menu-user(href='https://twitter.com/{{user.username}}', target='_blank')
                  span.screenname @{{user.username}}
              li
                a.text-uppercase(href='/logout', target='_self') Logout
        .site-main
          div(ng-view)

      a.arrow-top(ng-if='isAuthenticated', scroll-to='.site-main', scroll-on-click)

    span(ng-if='!isLoaded')
      .intro-container
        .spinner