extends layout

block body
  div(ng-controller='AdminUserCtrl')

    .cover-until-authenticated(ng-if='!isLoaded')
      .spinner

    span(ng-if='isLoaded')
      div(ng-if='!isAuthenticated')
        include parts/_login
      div(ng-if='isAuthenticated')
        include parts/_layer
        include parts/_nav

        .site-main.col-md-12
          .col-md-12(ng-view)

        include parts/_user_sidebar

        a.arrow-top(scroll-to='.site-main', scroll-on-click)