!!!
html(ng-app="myApp", ng-cloak, ng-csp)

  head
    include parts/_meta
    title Amatsuka
    base(href='/')
    include parts/_favicon
    include parts/_style

  body(resize="resize")
    block body

  include parts/_script
