.wrapper.user-sidebar__contents--box-loading-init(ng-if='!tweets.items')
  .dot
  .dot
  .dot

//- box-loading.user-sidebar__contents--box-loading-init(ng-if='!tweets.items', data-base='#a1a1a1', data-highlight='white')