.col-md-6.col-sm-5
  .login__description
    h1
      | Amatsuka
    h3
      | 画像専用ツイートビューワー
      p.login__description--poem もうひとつのタイムラインをあなたに

    .login__description--about
      p About
      a(href='http://898525572.tumblr.com/post/110964826359', target="_blank")
        i.fa.fa-angle-right
        | 画像専用ツイートビューワー作りました。 - tumblr
    span.btn-wrapper
      a.btn.btn-lg.login__description--btn(href='/auth/twitter/callback', target='_self')
        i.fa.fa-twitter
        | Twitterでログイン
.col-md-6.col-sm-7
  img.img-responsive.login__demo-gif(src='https://dl.dropboxusercontent.com/u/31717228/898/Amatsuka/demnmo.gif')


