meta(charset='utf-8')
meta(property='og:url', content='http://amatsuka.herokuapp.com')
meta(property='og:site_name', content='Amatsuka')
meta(property='og:description', content='もうひとつのタイムラインをあなたに')
meta(property='og:author', content='eiurur')
meta(property='og:locale', content='ja_JP')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="theme-color", content="#424242")